{% extends 'base.html.twig' %}


{% block body %}
    <nav class="nav-extended light-blue darken-1">
        <div class="nav-content">
            <ul class="tabs tabs-transparent tabs-fixed-width">
                <li class="tab"><a class="active" href="#">HOME</a></li>
                <li class="tab"><a target="_self" href="{{ path('perso') }}">PERSO</a></li>
            </ul>
        </div>
    </nav>

    <br>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Last added movies</span>
                    <div class="row">
                        {% for a in articleDateArticle %}
                            <div class="col s12 m6 l3">
                                <div class="card hoverable">

                                    <div class="card-image">
                                        <a href="{{ path('article_search', {'search': a.name}) }}">
                                            <img src="{{ asset('uploads/covers/'~a.cover) }}" alt="{{ a.cover }}" class="responsive-img img-hover">
                                        </a>
                                        <div class="right-align" style="margin: -20px 5px 0 0">
                                            {% for articleWatch in app.user.articleWatcheds if articleWatch.id == a.id %}
                                                <a href="{{ path('user_watched_delete', {'id': a.id}) }}" class="btn-floating waves-effect blue lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="You saw {{ a.name }}"><i class="fa fa-eye"></i></a>
                                            {% else %}
                                                <a href="{{ path('user_watched_add', {'id': a.id}) }}" class="btn-floating waves-effect blue lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="You haven't seen {{ a.name }}"><i class="fa fa-eye-slash"></i></a>
                                            {% endfor %}
                                            {% for articleWish in app.user.articleWishes if articleWish.id == a.id %}
                                                <a href="{{ path('user_wish_delete', {'id': a.id}) }}" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove {{ a.name }} from your wish list"><i class="material-icons">remove</i></a>
                                            {% else %}
                                                <a href="{{ path('user_wish_add', {'id': a.id}) }}" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add {{ a.name }} to your wish list"><i class="material-icons">add</i></a>
                                            {% endfor %}
                                            {% for articleLike in app.user.articleLikes if articleLike.id == a.id %}
                                                <a href="{{ path('user_like_delete', {'id': a.id}) }}" class="btn-floating waves-effect waves-light pink lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove {{ a.name }} from your favorite list"><i class="material-icons">favorite</i></a>
                                            {% else %}
                                                <a href="{{ path('user_like_add', {'id': a.id}) }}" class="btn-floating waves-effect waves-light pink lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add {{ a.name }} to your favorite list"><i class="material-icons">favorite_border</i></a>
                                            {% endfor %}
                                            <a href="{{ path('article_list_category', {'categoryId':a.category.id}) }}" class="btn-floating waves-effect green lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Watch {{ a.name }}'s category"><i class="fa fa-folder-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-content" style="margin: -20px 0 0 0">
                                        <p class="activator pointer">
                                            {{ a.synopsis|striptags|slice(0, 60) ~ '...' }}
                                        </p>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">{{ a.name }}<i class="material-icons right">close</i></span>
                                        <p>{{ a.synopsis|striptags|slice(0, 600) }}</p>
                                        <a href='{{ path('article_search', {'search': a.name}) }}' role="button" class="btn waves-effect waves-light blue lighten-2 pull-right" style="position: absolute; bottom: 5%; right: 5%;"><i class="fa fa-eye"></i> View</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a href='{{ path('article_list') }}' role="button" class="btn waves-effect waves-light blue lighten-2 pull-right" style="margin: -20px 0 0 0"><i class="fa fa-television"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="scrollFireDiv">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Last comments</span>
                    <br>
                    <div class="row">
                        <ul class="collapsible popout" data-collapsible="accordion">
                            {% for comment in recentComments %}
                                <li>
                                    <div class="collapsible-header">
                                        <img src="{{ asset('uploads/pictures/'~comment.user.picture) }}" alt="{{ comment.user.picture }}" class="center responsive-img" style="height: 50px;">
                                        <h6 class="valign-wrapper" style="font-size: 20px;"> &nbsp; {{ comment.user.username }}</h6>
                                        <span class="badge"> <a href="{{ path('article_search', {'search': comment.article.name}) }}">{{ comment.article.name }}</a></span>
                                    </div>
                                    <div class="collapsible-body">
                                        <span>{{ comment.content }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Recomanded movies</span>
                    <div class="row">
                        {% set limit = 0 %}
                        {% for a in allArticle if limit <4 %}
                            {% for userCategoryLikes in app.user.categoryLikes if a.category == userCategoryLikes %}
                                {% set limit = limit + 1%}
                                <div class="col s12 m6 l3">
                                    <div class="card hoverable">
                                        <div class="card-image">
                                            <a href="{{ path('article_search', {'search': a.name}) }}">
                                                <img src="{{ asset('uploads/covers/'~a.cover) }}" alt="{{ a.cover }}" class="responsive-img img-hover">
                                            </a>
                                            <div class="right-align" style="margin: -20px 5px 0 0">
                                                {% for articleWatch in app.user.articleWatcheds if articleWatch.id == a.id %}
                                                    <a href="{{ path('user_watched_delete', {'id': a.id}) }}" class="btn-floating waves-effect blue lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="You saw {{ a.name }}"><i class="fa fa-eye"></i></a>
                                                {% else %}
                                                    <a href="{{ path('user_watched_add', {'id': a.id}) }}" class="btn-floating waves-effect blue lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="You haven't seen {{ a.name }}"><i class="fa fa-eye-slash"></i></a>
                                                {% endfor %}
                                                {% for articleWish in app.user.articleWishes if articleWish.id == a.id %}
                                                    <a href="{{ path('user_wish_delete', {'id': a.id}) }}" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove {{ a.name }} from your wish list"><i class="material-icons">remove</i></a>
                                                {% else %}
                                                    <a href="{{ path('user_wish_add', {'id': a.id}) }}" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add {{ a.name }} to your wish list"><i class="material-icons">add</i></a>
                                                {% endfor %}
                                                {% for articleLike in app.user.articleLikes if articleLike.id == a.id %}
                                                    <a href="{{ path('user_like_delete', {'id': a.id}) }}" class="btn-floating waves-effect waves-light pink lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove {{ a.name }} from your favorite list"><i class="material-icons">favorite</i></a>
                                                {% else %}
                                                    <a href="{{ path('user_like_add', {'id': a.id}) }}" class="btn-floating waves-effect waves-light pink lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add {{ a.name }} to your favorite list"><i class="material-icons">favorite_border</i></a>
                                                {% endfor %}
                                                <a href="{{ path('article_list_category', {'categoryId':a.category.id}) }}" class="btn-floating waves-effect green lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Watch {{ a.name }}'s category"><i class="fa fa-folder-o"></i></a>
                                            </div>
                                        </div>
                                        <div class="card-content" style="margin: -20px 0 0 0">
                                            <p class="activator pointer">
                                                {{ a.synopsis|striptags|slice(0, 60) ~ '...' }}
                                            </p>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">{{ a.name }}<i class="material-icons right">close</i></span>
                                            <p>{{ a.synopsis|striptags|slice(0, 600) }}</p>
                                            <a href='{{ path('article_search', {'search': a.name}) }}' role="button" class="btn waves-effect waves-light blue lighten-2 pull-right" style="position: absolute; bottom: 5%; right: 5%;"><i class="fa fa-eye"></i> View</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <a href='{{ path('article_list') }}' role="button" class="btn waves-effect waves-light blue lighten-2 pull-right" style="margin: -20px 0 0 0"><i class="fa fa-television"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Random movies list</span>
                    <div class="row">
                        {% set limit = null %}
                        {% for a in allArticle if limit < 4 %}
                            {% set limit = loop.index %}
                            <div class="col s12 m6 l3">
                                <div class="card hoverable">
                                    <div class="card-image">
                                        <a href="{{ path('article_search', {'search': a.name}) }}">
                                            <img src="{{ asset('uploads/covers/'~a.cover) }}" alt="{{ a.cover }}" class="responsive-img img-hover">
                                        </a>
                                        <div class="right-align" style="margin: -20px 5px 0 0">
                                            {% for articleWatch in app.user.articleWatcheds if articleWatch.id == a.id %}
                                                <a href="{{ path('user_watched_delete', {'id': a.id}) }}" class="btn-floating waves-effect blue lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="You saw {{ a.name }}"><i class="fa fa-eye"></i></a>
                                            {% else %}
                                                <a href="{{ path('user_watched_add', {'id': a.id}) }}" class="btn-floating waves-effect blue lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="You haven't seen {{ a.name }}"><i class="fa fa-eye-slash"></i></a>
                                            {% endfor %}
                                            {% for articleWish in app.user.articleWishes if articleWish.id == a.id %}
                                                <a href="{{ path('user_wish_delete', {'id': a.id}) }}" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove {{ a.name }} from your wish list"><i class="material-icons">remove</i></a>
                                            {% else %}
                                                <a href="{{ path('user_wish_add', {'id': a.id}) }}" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add {{ a.name }} to your wish list"><i class="material-icons">add</i></a>
                                            {% endfor %}
                                            {% for articleLike in app.user.articleLikes if articleLike.id == a.id %}
                                                <a href="{{ path('user_like_delete', {'id': a.id}) }}" class="btn-floating waves-effect waves-light pink lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove {{ a.name }} from your favorite list"><i class="material-icons">favorite</i></a>
                                            {% else %}
                                                <a href="{{ path('user_like_add', {'id': a.id}) }}" class="btn-floating waves-effect waves-light pink lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add {{ a.name }} to your favorite list"><i class="material-icons">favorite_border</i></a>
                                            {% endfor %}
                                            <a href="{{ path('article_list_category', {'categoryId':a.category.id}) }}" class="btn-floating waves-effect green lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Watch {{ a.name }}'s category"><i class="fa fa-folder-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-content" style="margin: -20px 0 0 0">
                                        <p class="activator pointer">
                                            {{ a.synopsis|striptags|slice(0, 60) ~ '...' }}
                                        </p>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">{{ a.name }}<i class="material-icons right">close</i></span>
                                        <p>{{ a.synopsis|striptags|slice(0, 600) }}</p>
                                        <a href='{{ path('article_search', {'search': a.name}) }}' role="button" class="btn waves-effect waves-light blue lighten-2 pull-right" style="position: absolute; bottom: 5%; right: 5%;"><i class="fa fa-eye"></i> View</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a href='{{ path('article_list') }}' role="button" class="btn waves-effect waves-light blue lighten-2 pull-right" style="margin: -20px 0 0 0"><i class="fa fa-television"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Most popular movies</span>
                    <div class="row">
                        {% for a in articlePopular %}
                            <div class="col s12 m6 l3">
                                <div class="card hoverable">

                                    <div class="card-image">
                                        <a href="{{ path('article_search', {'search': a.name}) }}">
                                            <img src="{{ asset('uploads/covers/'~a.cover) }}" alt="{{ a.cover }}" class="responsive-img img-hover">
                                        </a>
                                        <div class="right-align" style="margin: -20px 5px 0 0">
                                            {% for articleWatch in app.user.articleWatcheds if articleWatch.id == a.id %}
                                                <a href="{{ path('user_watched_delete', {'id': a.id}) }}" class="btn-floating waves-effect blue lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="You saw {{ a.name }}"><i class="fa fa-eye"></i></a>
                                            {% else %}
                                                <a href="{{ path('user_watched_add', {'id': a.id}) }}" class="btn-floating waves-effect blue lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="You haven't seen {{ a.name }}"><i class="fa fa-eye-slash"></i></a>
                                            {% endfor %}
                                            {% for articleWish in app.user.articleWishes if articleWish.id == a.id %}
                                                <a href="{{ path('user_wish_delete', {'id': a.id}) }}" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove {{ a.name }} from your wish list"><i class="material-icons">remove</i></a>
                                            {% else %}
                                                <a href="{{ path('user_wish_add', {'id': a.id}) }}" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add {{ a.name }} to your wish list"><i class="material-icons">add</i></a>
                                            {% endfor %}
                                            {% for articleLike in app.user.articleLikes if articleLike.id == a.id %}
                                                <a href="{{ path('user_like_delete', {'id': a.id}) }}" class="btn-floating waves-effect waves-light pink lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove {{ a.name }} from your favorite list"><i class="material-icons">favorite</i></a>
                                            {% else %}
                                                <a href="{{ path('user_like_add', {'id': a.id}) }}" class="btn-floating waves-effect waves-light pink lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add {{ a.name }} to your favorite list"><i class="material-icons">favorite_border</i></a>
                                            {% endfor %}
                                            <a href="{{ path('article_list_category', {'categoryId':a.category.id}) }}" class="btn-floating waves-effect green lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Watch {{ a.name }}'s category"><i class="fa fa-folder-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-content" style="margin: -20px 0 0 0">
                                        <p class="activator pointer">
                                            {{ a.synopsis|striptags|slice(0, 60) ~ '...' }}
                                        </p>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">{{ a.name }}<i class="material-icons right">close</i></span>
                                        <p>{{ a.synopsis|striptags|slice(0, 600) }}</p>
                                        <a href='{{ path('article_search', {'search': a.name}) }}' role="button" class="btn waves-effect waves-light blue lighten-2 pull-right" style="position: absolute; bottom: 5%; right: 5%;"><i class="fa fa-eye"></i> View</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a href='{{ path('article_list') }}' role="button" class="btn waves-effect waves-light blue lighten-2 pull-right" style="margin: -20px 0 0 0"><i class="fa fa-television"></i></a>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block stylesheets %}
{% endblock %}
